.mainView {
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
    display: grid;
    grid-template-areas:
        "previewPart";
    grid-template-rows: 90%;
}

.previewPart {
    grid-area: previewPart;
}