.mainView{
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
    display: grid;
    grid-template-areas:
        "previewPart previewPart operatePart"
        "previewPart previewPart operatePart"
        "previewPart previewPart paramPart";
    grid-template-columns: 30.4% 30.4% 38.2%;
    grid-template-rows: 30.4% 30.4% 38.2%;
}

.previewPart{
    grid-area: previewPart;
}

.operatePart{
    grid-area: operatePart;
}

.paramPart{
    grid-area: paramPart;
}