.mainView{
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
    display: grid;
    grid-template-areas:
        "previewPart operatePart";
    grid-template-columns: 61.8% 38.2%;
}

.previewPart{
    grid-area: previewPart;
}

.operatePart{
    grid-area: operatePart;
}